@import '../../assets/Variables';

.loader {
    .transition-container {
        display: flex;
        height: 100lvh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;

        pointer-events: none;

        z-index: 9;

        .stair {
            --_delay: .2;

            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 100%;
            width: 100%;

            font-family: 'Helvetica Neue';
            font-size: clamp(3.8rem, 11vw + 1rem, 9rem);

            background-color: $text-clr;

            animation-name: changeFont;
            animation-duration: 1.3s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

        }
    }
}

@keyframes changeFont {
    from {
        font-family: 'Helvetica Neue';
    }
    to {
        font-family: 'RabbitHole';
    }
}