@import './Variables';

html {
  scroll-snap-type: y mandatory;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;

  background-color: $primary-clr;
}

body {
  // height: 100dvh;
  width: 100vw;

  scroll-snap-type: y mandatory;

}

::selection {
  background: $secondary-clr;
}