@import './Variables';

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;

  background-color: $primary-clr;
}

body {
  width: 100vw;
}

::selection {
  background: $secondary-clr;
}