@font-face {
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue Light'), local('Helvetica-Neue-Light'),
      url('/src/fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
      url('/src/fonts/HelveticaNeueCyr-Light.woff') format('woff'),
      url('/src/fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RabbitHole';
  src: local('RabbitHole'), local('RabbitHole'),
      /* url('/src/fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
      url('/src/fonts/HelveticaNeueCyr-Light.woff') format('woff'), */
      url('/src/fonts/RabbitHole-Display.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

#root {
  margin: 0;
  padding: 0;
}

html {
  overflow: clip;
}

body {
  height: 100vh;
  width: 100vw;

  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

body .wacky-word {
  font-family: 'RabbitHole', 'Helvetica Neue', sans-serif;
}

svg {
  overflow: visible;
}

.trailer > div {
  background: hsla(127, 100%, 50%, 1);
  background: -moz-linear-gradient(360deg, hsla(127, 100%, 50%, 1) 0%, hsla(226, 100%, 51%, 1) 100%);
  background: -webkit-linear-gradient(360deg, hsla(127, 100%, 50%, 1) 0%, hsla(226, 100%, 51%, 1) 100%);
  background: linear-gradient(360deg, hsla(127, 100%, 50%, 1) 0%, hsla(226, 100%, 51%, 1) 100%);
}

.trailer svg {
  display: inline-block;
}

/* testing */
.trailer {
  opacity: 1 !important;
  overflow: visible !important;
}
h1, p {
  color: red !important;
}
.trailer h1, .trailer p {
  color: white !important;
}
.trailer > div {
  background: transparent !important;
}