@import './Variables';

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100vw;

    padding: $page-padding;

    color: $primary-clr;
    background-color: $text-clr;

    scroll-snap-align: start;
    // perspective: 500px;

    // z-index: 2;

    .title {
        margin-bottom: 6rem;

        font-size: clamp(4rem, 10vw + 1rem, 6rem);
        
        line-height: 114px;
        letter-spacing: 0.03em;
        text-align: justify;
        text-transform: uppercase;
        text-transform: uppercase;

        color: #000000;

        span {
            font-family: 'RabbitHole';
            font-size: clamp(4rem, -0.6667rem + 8.8889vw, 6rem);
            vertical-align: baseline;
        }
    }

    p {
        font-size: 1.9rem;
        text-align: justify;

        margin-bottom: 2rem;
    }
}
