@import './Variables';

.contact-section {
    position: relative;
    width: 100vw;
    top: 25px;
    left: 0;

    padding: $page-padding;

    color: $primary-clr;
    background-color: $text-clr;
    
    .spacer {    
        width: 100%;
        padding-top: 105lvh;

    }
}
