@import './Variables';

.contact-section {
    position: relative;
    width: 100vw;
    top: 25px;
    left: 0;

    padding: $page-padding;

    color: $primary-clr;
    background-color: $text-clr;
    
    .spacer {    
        width: 100%;
        padding-top: 105lvh;
    }

    .socials {
        margin-block: 6rem;

        div {
            position: relative;
    
            .bounds {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            
                &:hover {
                    width: 150%;
                    height: 250%;
                    left: -25%;
                    top: -75%;
                }
            }
        }
    }
}
