@import './Variables';

.hero-section-wrapper {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 100lvh;
    background: $primary-clr;

    .hero-section {
        position: relative;
        width: 100vw;
        height: 100lvh;
    
        color: $text-clr;
        
        background: $primary-clr;

        &.mask {
            position: absolute;
            font-family: 'Rabbithole';

            mask-image: url('../assets/images/mask.svg');
            mask-repeat: no-repeat;

            mask-position: 50%;

            pointer-events: none;
        
            z-index: 1;

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
            
                background: hsla($from-h, $from-s, $from-l, $o);
                background: -moz-linear-gradient(360deg, hsla($from-h, $from-s, $from-l, $o) 0%, hsla($to-h, $to-s, $to-l, $o) 100%);
                background: -webkit-linear-gradient(360deg, hsla($from-h, $from-s, $from-l, $o) 0%, hsla($to-h, $to-s, $to-l, $o) 100%);
                background: linear-gradient(360deg, hsla($from-h, $from-s, $from-l, $o) 0%, hsla($to-h, $to-s, $to-l, $o) 100%);
                
                mix-blend-mode: screen;
            }
        }
    
        .row {
            display: grid;
            grid-auto-flow: column;
            height: 32%;
    
            &.first {
                width: 90%;
                grid-template-columns: repeat(7, minmax(0, 1fr));
            }
    
            &.second {
                width: 65%;
                grid-template-columns: repeat(6, minmax(0, 1fr));
            }
    
            &.third {
                width: 45%;
                grid-template-columns: repeat(4, minmax(0, 1fr));
            }
        }
    }
}
