@import './Variables';

.hero-section-wrapper {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100lvh;
    background: $primary-clr;

    .hero-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100lvh;
    
        color: $text-clr;
        font-size: clamp(3.8rem, 11vw + 1rem, 9rem);
        line-height: 214px;
        text-align: center;
        text-transform: uppercase;
        
        background: $primary-clr;

        .title {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: clamp(.1em, 5vw, .5em);
            width: 95%;
            max-width: 1300px;

            letter-spacing: .1em;
        }

        &.body {
            font-family: 'Helvetica Neue';
        }

        &.mask {
            position: absolute;

            font-family: 'Rabbithole';

            mask-image: url('../assets/images/mask.svg');
            mask-repeat: no-repeat;
            mask-position: 50%;

            pointer-events: none;
        
            z-index: 1;

            @media (pointer: coarse) {
                mask-position: 50% !important;
                mask-size: 230px !important;
            }

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
            
                background: hsla($from-h, $from-s, $from-l, $o);
                background: -moz-linear-gradient(360deg, hsla($from-h, $from-s, $from-l, $o) 0%, hsla($to-h, $to-s, $to-l, $o) 100%);
                background: -webkit-linear-gradient(360deg, hsla($from-h, $from-s, $from-l, $o) 0%, hsla($to-h, $to-s, $to-l, $o) 100%);
                background: linear-gradient(360deg, hsla($from-h, $from-s, $from-l, $o) 0%, hsla($to-h, $to-s, $to-l, $o) 100%);
                
                mix-blend-mode: screen;
            }
        }
    }
}