@import "../assets/Variables";

.socials {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 4rem $page-padding;

    color: $primary-clr;

    background-color: $text-clr;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;

        &__content {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
            height: 40%;

            span {
                font-size: clamp(2rem, 1rem + 2vw, 4rem);
                line-height: 76px;
                letter-spacing: 0.03em;
                text-transform: uppercase;

                color: #000000;
            }

            .bounds {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            
                &:hover {
                    width: 200%;
                    height: 700%;
                    left: 50%;
                    top: 50%;

                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}