@import "../assets/Variables";

.socials {
    width: 100%;
    position: relative;

    .socials-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;

        .socials__link {
            font-family: 'Helvetica Neue';
            font-weight: 300;
            font-size: clamp(50px, 10vw + 1rem, 64px);
            line-height: 76px;
            letter-spacing: 0.03em;
            text-transform: uppercase;

            color: #000000;
        }
    }
}