@import './Variables';

.trailer {
    position: fixed;
    width: 130px;
    aspect-ratio: 1;

    border-radius: 100%;

    // drop-shadow-[0_0_15px_rgba(0,0,0,1)] transition-opacity duration-500 ease-[]
    background: hsla($from-h, $from-s, $from-l, $o);
    background: -moz-linear-gradient(360deg, hsla($from-h, $from-s, $from-l, $o) 0%, hsla($to-h, $to-s, $to-l, $o) 100%);
    background: -webkit-linear-gradient(360deg, hsla($from-h, $from-s, $from-l, $o) 0%, hsla($to-h, $to-s, $to-l, $o) 100%);
    background: linear-gradient(360deg, hsla($from-h, $from-s, $from-l, $o) 0%, hsla($to-h, $to-s, $to-l, $o) 100%);
    
    mix-blend-mode: difference;
    
    pointer-events: none;
    
    z-index: 99999;

    svg {
      display: inline-block;
    }
}